.about-offer {
   padding: 120px 0 80px;

   @media (max-width: 1400px) {
      padding: 70px 0;
   }

   @media (max-width: 980px) {
      padding: 88px 0 100px;
   }

   @media (max-width: 580px) {
      padding: 42px 0 83px;
   }
}

.about-offer__container {
   position: relative;
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   column-gap: 24px;
   align-items: center;
   justify-self: center;
   padding: 80px 0;

   @media (max-width: 980px) {
      grid-template-columns: 1fr;
   }
}

.about-offer__content {
   display: flex;
   flex-direction: column;
   gap: 56px;
   justify-content: flex-start;
   grid-column: 6 span;
   padding: 40px 56px 40px 71px;

   @media (max-width: 1400px) {
      gap: 40px;
      grid-column: 7 span;
      padding: 0 0 0 45px;
   }

   @media (max-width: 980px) {
      grid-column: 12 span;
      order: 2;
   }

   @media (max-width: 580px) {
      gap: 26px;
      padding-left: 14.5px;
      line-height: 1.6;
   }
}

.about-offer__title {
   padding-right: 160px;

   @media (max-width: 1400px) {
      padding-right: 24px;
   }

   @media (max-width: 580px) {
      margin-top: 55px;
      font-size: 34px;
      line-height: 1.3;
   }
}

.about-offer__descr {
   padding-right: 18px;
   line-height: 1.545;

   @media (max-width: 1400px) {
      padding-right: 16px;
   }

   @media (max-width: 980px) {
      font-size: 18px;
   }

   @media (max-width: 580px) {
      line-height: 1.6;
      font-size: 16px;
      letter-spacing: 0;
   }
}

.about-offer__button-wrapper {
   display: flex;
   align-items: center;
   justify-content: flex-start;
}

.about-offer__button {
   margin-top: 0px;
   display: flex;
   flex-direction: row;
   column-gap: 12px;
   padding: 17px 24px 14px 31px;
   font-weight: 500;
   font-size: 20px;
   line-height: 1.4;
   cursor: pointer;
}

.about-offer__button--icon {
   width: 32px;
   height: 32px;
   stroke: var(--black);
}

.about-offer__img-wrapper {
   position: relative;
   justify-self: center;
   grid-column: 6 span;
   width: 619px;
   height: 474px;
   margin-top: 40px;
   margin-right: 24px;
   border-radius: 72px 112px 0;
   padding: 0 72px 0 212px;
   background-color: #465976;

   @media (max-width: 1400px) {
      justify-content: flex-start;
      grid-column: 5 span;
      width: 397.338px;
      height: 304.262px;
      margin-right: 52px;
   }

   @media (max-width: 980px) {
      grid-column: 12 span;
      order: 1;
      width: 498.141px;
      height: 381.452px;
      margin-top: 3px;
      margin-right: 17.1px;
      border-radius: 28px 61px 0;
   }

   @media (max-width: 580px) {
      width: 252.011px;
      height: 192.978px;
      margin-right: 6.1px;
      padding: 0 72px 0 160px;
   }
}

.about-offer__img {
   position: absolute;
   right: 19.7%;
   bottom: 0%;
   width: 389px;
   height: 562px;

   img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }

   @media (max-width: 1400px) {
      width: 249.7px;
      height: 360.749px;
   }

   @media (max-width: 980px) {
      width: 313.048px;
      height: 452.27px;
   }

   @media (max-width: 580px) {
      width: 158.372px;
      height: 228.805px;
   }
}

.about-offer__girl-img {
   position: absolute;
   top: 25.4%;
   right: 33.2%;
   width: 225.87px;
   height: 159.873px;

   @media (max-width: 1400px) {
      top: 33.4%;
      right: 30.3%;
      width: 144.987px;
      height: 102.623px;
   }

   @media (max-width: 980px) {
      top: 9%;
      left: 2.3%;
      z-index: 15;
      width: 181.771px;
      height: 128.659px;
   }

   @media (max-width: 580px) {
      top: 10%;
      left: 4.7%;
      z-index: 15;
      width: 91.959px;
      height: 65.089px;
   }
}

.about-offer__storm-img {
   position: absolute;
   top: 18.9%;
   right: 4%;
   width: 215px;
   height: 143px;

   @media (max-width: 1400px) {
      top: 28.5%;
      right: 1.3%;
      width: 138.009px;
      height: 91.792px;
   }

   @media (max-width: 980px) {
      top: 5.2%;
      right: 3.5%;
      z-index: 15;
      width: 173.021px;
      height: 115.079px;
   }

   @media (max-width: 580px) {
      top: 7.9%;
      right: 4.4%;
      z-index: 15;
      width: 87.532px;
      height: 58.219px;
   }
}

.about-offer__portraites-img {
   position: absolute;
   right: 4%;
   bottom: 12.3%;
   width: 310.004px;
   height: 244.794px;

   @media (max-width: 1400px) {
      right: 1.3%;
      bottom: 22.2%;
      width: 198.99px;
      height: 157.133px;
   }

   @media (max-width: 980px) {
      top: 25.9%;
      right: 3.5%;
      z-index: 15;
      width: 249.472px;
      height: 196.998px;
   }

   @media (max-width: 580px) {
      top: 20.7%;
      right: 4.5%;
      z-index: 15;
      width: 126.209px;
      height: 99.662px;
   }
}
