.about-support {
   padding: 0;
}

.about-support__container {
   display: grid;

   /* grid-template-columns: repeat(auto-fit, 296px);
   column-gap: 24px; */
   grid-template-columns: repeat(auto-fit, calc(50% - 24px));
   column-gap: 48px;
   padding: 0 48px;

   @media (max-width: 1351px) {
      padding: 0 15px;
   }
}

.about-support__card {
   /* display: grid;
   grid-template-columns: repeat(7, 1fr);
   align-self: start; */
   /* grid-column: 6 span;
   max-height: 424px; */
   margin-right: 12px;
   border: 1px solid #000;
   border-radius: 48px;
   padding: 64px 79px 130px 80px;
   background: var(--White, #fff);

   .about-support__title {
      /*
      grid-column: 4 span;
      */

      @media (max-width: 1351px) {
         /*
         grid-column: 5 span;
         */
      }
   }

   .about-support__text {
      /*
      grid-column: 7 span;
      */
      margin-top: 32px;
   }

   @media (max-width: 1351px) {
      margin-right: 3px;
      padding: 40px 29px 140px;
   }
}

.about-support__card--right {
   margin-right: 0;
   margin-left: 12px;
   padding: 64px 91px 63px 80px;

   .about-support__title {
      /* grid-column: 6 span; */

      @media (max-width: 1351px) {
         /*   grid-column: 7 span; */
      }
   }

   .about-support__text {
      /*  grid-column: 7 span; */
   }

   @media (max-width: 1351px) {
      margin-left: 3px;
      padding: 40px 29px 38px;
   }
}
