.about-promo {
   padding: 100px 0 120px;

   @media (max-width: 1200px) {
      padding: 144px 0 100px;
   }

   @media (max-width: 1024px) {
      padding: 88px 0 100px;
   }
   @media (max-width: 464px) {
      padding: 88px 0 83px;
   }
}

.about-promo__container {
   position: relative;
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   column-gap: 24px;
   align-items: center;
   justify-self: center;
}

.about-promo__stars-img {
   position: absolute;
   top: 13.7%;
   right: 11.4%;
   width: 82px;
   height: 80px;

   @media (max-width: 1200px) {
      top: 11.7%;
      right: 3.1%;
   }

   @media (max-width: 1024px) {
      top: -23.6%;
      right: 43.7%;
   }

   @media (max-width: 464px) {
      top: -20.2%;
      right: 43.7%;
      width: 54px;
      height: 52px;
   }
}

.about-promo__content {
   display: flex;
   flex-direction: column;
   row-gap: 64px;
   grid-column: 3 / 11;
   padding: 80px 56px;
   text-align: center;

   @media (max-width: 1200px) {
      grid-column: 1/-1;
      padding: 50px 30px;
   }

   @media (max-width: 1024px) {
      row-gap: 30px;
      grid-column: 1/-1;
      padding: 40px 11px 0;
   }

   @media (max-width: 464px) {
      padding: 10px 0;
   }
}

.about-promo__title {
   @media (max-width: 1024px) {
      padding: 0 25px;
   }

   @media (max-width: 464px) {
      padding: 0;
   }
}

.about-promo__text {
   padding: 0 1%;
   font-weight: 400;
   font-size: 26px;
   line-height: 1.54;

   @media (max-width: 1200px) {
      padding: 0;
   }

   @media (max-width: 1024px) {
      padding: 0;
      font-size: 20px;
      line-height: 1.6;
      letter-spacing: 0.4px;
   }

   @media (max-width: 464px) {
      font-size: 16px;
   }
}
