.about-support {
   padding: 0;

   @media (max-width: 980px) {
      font-size: 18px;
   }
}

.about-support__container {
   display: grid;

   /*  grid-template-columns: repeat(auto-fit, calc(50% - 24px)); */
   grid-template-columns: repeat(2, 1fr);
   column-gap: 48px;
   padding: 0 61px;

   @media (max-width: 1351px) {
      /* grid-template-columns: repeat(auto-fit, calc(50% - 15px)); */
      column-gap: 30px;
      padding: 0 15px;
   }

   @media (max-width: 980px) {
      grid-template-columns: 1fr;

      /* grid-template-rows: repeat(auto-fit, calc(50% - 15px)); */
      row-gap: 30px;
   }
}

.about-support__card {
   display: grid;
   grid-template-columns: repeat(7, 1fr);
   border: 1px solid #000;
   border-radius: 48px;
   padding: 64px 79px 130px 80px;
   background: var(--White, #fff);

   .about-support__title {
      grid-column: 4 span;

      @media (max-width: 1351px) {
         grid-column: 6 span;
         padding-right: 20px;
      }

      @media (max-width: 980px) {
         grid-column: 4 span;
         font-weight: 500;
         font-style: normal;
         font-size: 37px;
         line-height: normal;
      }

      @media (max-width: 580px) {
         grid-column: 7 span;
         margin-right: 0;
         padding-right: 0;
         font-size: 34px;
      }
   }

   .about-support__text {
      grid-column: 7 span;
      margin-top: 32px;

      @media (max-width: 580px) {
         margin-top: 21px;
      }
   }

   @media (max-width: 580px) {
      padding: 29px 27px 40px 29.1px;
   }

   @media (max-width: 980px) {
      padding: 40px;
   }

   @media (max-width: 580px) {
      padding: 29px 27px 40px 29.1px;
   }

   @media (max-width: 980px) {
      border-radius: 28px;
   }

   @media (max-width: 1351px) {
      margin-right: 3px;
      padding: 40px 29px 140px;
   }

   @media (max-width: 580px) {
      margin-top: 21px;
      margin-right: 0;
      font-size: 16px;
   }
}

.about-support__card--right {
   padding: 64px 91px 63px 80px;

   .about-support__title {
      grid-column: 6 span;

      @media (max-width: 1351px) {
         grid-column: 7 span;
         padding-right: 0;
      }

      @media (max-width: 980px) {
         grid-column: 5 span;
      }
   }

   .about-support__text {
      grid-column: 7 span;
   }

   @media (max-width: 1351px) {
      margin-left: 3px;
      padding: 40px 29px 38px;
   }

   @media (max-width: 580px) {
      margin-left: 0;
   }
}
