.about-trustworthy {
   padding: 175px 0 100px;
   @media (max-width: 1200px) {
      padding: 200px 0 100px;
   }
}

.about-trustworthy__container {
   display: grid;
   grid-template-columns: repeat(auto-fill, calc(50% - 24px));
   column-gap: 48px;
   padding: 0 61px;

   @media (max-width: 1200px) {
      grid-template-columns: repeat(auto-fill, calc(50% - 15px));
      column-gap: 30px;
      padding: 0 15px;
   }

   @media (max-width: 740px) {
      grid-template-columns: 1fr;
      row-gap: 30px;
      padding: 0 15px;
   }
}

.about-trustworthy__title {
   grid-column: 1/-1;
   margin-bottom: 96px;

   @media (max-width: 1200px) {
      margin-bottom: 50px;
      padding-left: 30px;
   }

   @media (max-width: 330px) {
      font-size: 34px;
   }
}

.about-trustworthy__card {
   grid-column: 50%;
   border: 2px solid #000;
   border-radius: 48px;
   padding: 64px 93px 64px 80px;
   line-height: 1.545;
   background: #ebf3ff;

   @media (max-width: 1200px) {
      padding: 40px 38px 40px;
   }

   @media (max-width: 740px) {
      padding: 30px;
   }

   @media (max-width: 330px) {
   }
}

.about-trustworthy__card--light {
   padding: 64px 80px;
   background: #f6f6f6;
}
