.services-solutions {
   padding: 177px 56px 50px;

   @media (max-width: 1400px) {
      padding: 100px 0 80px;
   }

   @media (max-width: 980px) {
      padding: 26px 0 58px;
   }

   @media (max-width: 480px) {
      padding: 112px 0 10px;
   }
}

.services-solutions__card {
   display: grid;
   grid-template-areas:
      "title  image"
      "list image";
   grid-template-columns: repeat(2, 1fr);
   column-gap: 151px;
   padding-top: 64px;

   @media (max-width: 1400px) {
      column-gap: 0;
   }

   @media (max-width: 980px) {
      grid-template-areas:
         "title  title"
         "image list";
      column-gap: 0;
   }

   @media (max-width: 480px) {
      grid-template-columns: 1fr;
      row-gap: 28px;
   }
}

.services-solutions__title {
   grid-area: title;
   padding-top: 37px;
   padding-left: 56px;
   text-align: left;

   @media (max-width: 1400px) {
      padding-top: 39px;
      padding-right: 110px;
      padding-left: 29px;
      font-size: 40px;
      line-height: normal;
   }

   @media (max-width: 980px) {
      padding-top: 9px;
      padding-right: 0;
      padding-left: 0;
      font-size: 37px;
   }

   @media (max-width: 480px) {
      grid-area: unset;
      order: 1;
      padding-top: 9px;
      padding-right: 0;
      padding-left: 0;
      font-size: 34px;
   }
}

.services-solutions__card-list {
   display: flex;
   grid-area: list;
   flex-direction: column;
   row-gap: 24px;
   justify-self: start;
   padding-left: 67px;

   @media (max-width: 1400px) {
      padding: 39px 12px 0 42px;
   }

   @media (max-width: 640px) {
      row-gap: 20px;
      padding-right: 0;
      padding-left: 2px;
   }

   @media (max-width: 480px) {
      padding: 13px 0 0 8px;
   }

   @media (max-width: 640px) {
      grid-area: unset;
      row-gap: 20px;
      order: 3;
      padding-right: 0;
      padding-left: 2px;
   }
}

.services-solutions__card-list--item {
   display: flex;
   font-size: 22px;
   line-height: 1.545;

   @media (max-width: 1200px) {
      gap: 13px;
   }

   @media (max-width: 640px) {
      gap: 8px;
      font-size: 16px;
      line-height: 1.4;
   }

   @media (max-width: 480px) {
      letter-spacing: -0.1px;
   }
}

.services-solutions__card-list--item::before {
   content: "";
   display: inline-block;
   width: 8px;
   height: 8px;
   margin-top: 16px;
   margin-right: 13px;
   border-radius: 50%;
   background-color: var(--black);

   @media (max-width: 1200px) {
      width: 6px;
      height: 6px;
      margin-top: 15px;
      margin-right: 3px;
   }

   @media (max-width: 640px) {
      width: 7px;
      height: 7px;
      margin-top: 9px;
      margin-right: 3px;
   }
}

.services-solutions__img {
   grid-area: image;
   justify-self: start;
   grid-column: 1 span;
   object-fit: contain;

   @media (max-width: 1400px) {
      width: 563.067px;
      height: 578.112px;
      padding-top: 27px;
      transform: translateX(-8px);
   }

   @media (max-width: 980px) {
      width: 302.067px;
      height: 294.112px;
      padding-top: 82px;
   }

   @media (max-width: 480px) {
      grid-area: unset;
      justify-self: center;
      grid-column: 1 / -1;
      order: 2;
      width: 334px;
      height: 215.655px;
      padding-top: 0;
      padding-left: 0;
      object-fit: contain;
      transform: translateY(10px);
   }
}

.services-solutions__card-button--wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   padding-left: 15px;

   @media (max-width: 640px) {
      padding-left: 0;
   }
}

.services-solutions__card-button {
   display: flex;
   flex-direction: row;
   column-gap: 12px;
   margin-top: 123px;
   padding: 24.1px 25px 23.8px 32px;
   color: var(--white);
   background: var(--black);
   cursor: pointer;

   @media (max-width: 1400px) {
      margin-top: 78px;
      padding: 24.1px 31px 23.8px 24px;
   }

   @media (max-width: 640px) {
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      margin-top: 37px;
      padding: 23px 0;
   }

   @media (max-width: 480px) {
      margin-top: 28.1px;
      padding: 15.7px 0 17.5px;
   }
}

.services-solutions__button--icon {
   width: 32px;
   height: 32px;
   stroke: var(--white);
}
