.services-hero {
   padding: 183px 0;

   @media (max-width: 1400px) {
      padding: 70px 0 159px;
   }

   @media (max-width: 980px) {
      padding: 47px 0 152px;
   }

   @media (max-width: 580px) {
      padding: 9px 0 101px;
   }
}

.services-hero__container {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   column-gap: 24px;

   @media (max-width: 980px) {
      grid-template-columns: 1fr;
      column-gap: 0;
      text-align: center;
   }

   @media (max-width: 580px) {
      row-gap: 0;
   }
}

.services-hero__content {
   display: flex;
   flex-direction: column;
   row-gap: 56px;
   align-items: start;
   grid-column: 6 span;
   padding: 40px 56px;

   @media (max-width: 1400px) {
      row-gap: 40px;
      grid-column: 7 span;
      padding: 40px 30px;
   }

   @media (max-width: 980px) {
      align-items: unset;
      padding: 0;
   }

   @media (max-width: 580px) {
      row-gap: 30px;
   }
}

.services-hero__title {
   @media (max-width: 1400px) {
      font-size: 50px;
      line-height: 1.1;
   }
}

.services-hero__text {
   display: flex;
   flex-direction: column;
   row-gap: 34px;
   padding-right: 43px;

   @media (max-width: 1400px) {
      padding-right: 75px;
   }

   @media (max-width: 980px) {
      padding: 0;
      font-size: 20px;
      line-height: 1.6;
      letter-spacing: 0.4px;
   }

   @media (max-width: 580px) {
      row-gap: 28px;
      font-size: 16px;
      line-height: 1.6;
      letter-spacing: 0.32px;
   }
}

.services-hero__button {
   display: flex;
   flex-direction: row;
   column-gap: 12px;
   margin-top: 0;
   padding: 17px 24px 14px 31px;
   font-weight: 500;
   font-size: 20px;
   line-height: 1.4;
   cursor: pointer;

   @media (max-width: 980px) {
      justify-content: center;
      max-width: unset;
      margin-top: 0;
      font-size: 20px;
      line-height: 1.4;
      text-align: center;
   }

   @media (max-width: 580px) {
      margin-top: 11px;
      padding: 17px 24px 13.6px 31px;
      font-size: 18px;
      line-height: 1.55;
      text-align: unset;
   }
}

.services-hero__button--icon {
   width: 32px;
   height: 32px;
   stroke: var(--black);
}

.services-hero__img-wrapper {
   position: relative;
   justify-self: center;
   grid-column: 6 span;
   margin-top: 73px;
   margin-right: 10px;

   @media (max-width: 1400px) {
      justify-content: flex-start;
      grid-column: 5 span;
      margin-top: 140.8px;
      margin-left: -73.5px;
   }

   @media (max-width: 980px) {
      grid-column: 12 span;
      order: 1;
      margin-top: 108px;
      margin-left: 2.9px;
      border-radius: 28px 42px 28px 0;
   }

   @media (max-width: 580px) {
      margin-top: 81px;
      margin-right: 6.1px;
   }
}

.services-hero__img {
   z-index: 10;
   border-radius: 48px 72px 48px 0;
   object-fit: cover;

   @media (max-width: 1400px) {
      width: 434px;
      height: 307px;

      /*   margin-top: 140.8px;
      margin-left: -73.5px; */
   }

   @media (max-width: 980px) {
      width: 426.398px;
      height: 301.974px;

      /*  margin-top: 108px;
      margin-left: 2.9px; */
      border-radius: 28px 42px 28px 0;
   }

   @media (max-width: 580px) {
      width: 248.639px;
      height: 176.085px;

      /*  margin-top: 81px;
      margin-right: 6.1px; */
   }
}

.services-hero__calc-img {
   position: absolute;
   top: 9.3%;
   right: 36.2%;
   z-index: 15;
   width: 196.001px;
   height: 202px;

   @media (max-width: 1400px) {
      top: 8.7%;
      right: 36%;
      width: 139.276px;
      height: 143.54px;
   }

   @media (max-width: 980px) {
      top: 18.5%;
      left: 4.3%;
      z-index: 15;
      width: 137.008px;
      height: 141.201px;
   }

   @media (max-width: 580px) {
      top: 17.1%;
      left: 4.4%;
      z-index: 15;
      width: 79.892px;
      height: 82.336px;
   }
}

.services-hero__paper-img {
   position: absolute;
   top: 8.4%;
   right: 8.1%;
   z-index: 5;
   width: 210.004px;
   height: 270.003px;

   @media (max-width: 1400px) {
      top: 7.9%;
      right: 4.2%;
      width: 149.231px;
      height: 191.86px;
   }

   @media (max-width: 980px) {
      top: 17.8%;
      right: 4.7%;
      width: 146.792px;
      height: 188.736px;
   }

   @media (max-width: 580px) {
      top: 16.7%;
      right: 4.5%;
      width: 85.597px;
      height: 110.054px;
   }
}

.services-hero__calend-img {
   position: absolute;
   top: 22%;
   right: 9%;
   z-index: 15;
   width: 232.001px;
   height: 160.001px;

   @media (max-width: 1400px) {
      top: 17.6%;
      right: 5%;
      width: 164.861px;
      height: 113.696px;
   }

   @media (max-width: 980px) {
      top: 27.2%;
      right: 10%;
      z-index: 15;
      width: 162.171px;
      height: 111.842px;
   }

   @media (max-width: 580px) {
      top: 22.3%;
      right: 6.4%;
      z-index: 15;
      width: 94.564px;
      height: 65.217px;
   }
}
