.achievements {
   padding: 37px 0;

   @media (max-width: 640px) {
      padding: 0;
   }
   @media (max-width: 330px) {
      padding: 37px 0;
   }
}

.achievements__container {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   column-gap: 24px;
   align-content: center;
   justify-items: center;

   p {
      justify-self: center;
      grid-column: 3 /11;
      margin-top: 60px;
      font-size: 26px;
      line-height: 1.54;
      text-align: left;

      @media (max-width: 1200px) {
         grid-column: 1 /-1;
         padding: 0 30px;
      }

      @media (max-width: 640px) {
         margin-top: 43px;
         padding: 0;
         font-size: 18px;
         line-height: 1.6;
      }

      @media (max-width: 330px) {
         font-size: 16px;
      }
   }

   p:nth-of-type(2) {
      margin-top: 20px;

      @media (max-width: 640px) {
         padding: 0;
      }
   }
}

.achievements__bg-img {
   width: 2440px;
   height: 353px;

   @media (max-width: 1200px) {
      padding: 0 116px 25px 0;
   }

   @media (max-width: 640px) {
      width: 1141.443px;
      height: 165px;
      transform: translateY(-77px) scale(2.7) translateX(105px);
   }

   @media (max-width: 330px) {
      width: 581px;
      height: 84px;
      transform: translateY(42px) scale(5.7) translateX(66px);
   }
}

.achievements__main-img {
   justify-self: center;
   grid-column: 12 span;
   width: 225px;
   height: 183px;
   margin-top: 100px;

   @media (max-width: 1200px) {
      margin-top: 80px;
   }

   @media (max-width: 640px) {
      width: 133px;
      height: 108px;
      margin-top: 40px;
   }
}

.achievements__title {
   grid-column: 12 span;
   margin-top: 205px;
   text-align: center;

   @media (max-width: 1200px) {
      margin-top: 110px;
   }

   @media (max-width: 640px) {
      margin-top: -3px;
   }

   @media (max-width: 330px) {
      margin-top: 0;
      padding: 18px 6px 0 0;
   }
}
