.activity-card {
   grid-column: span 4;
   padding: 48px 0 48px 83px;
   background-color: var(--white);

   .activity-card__img {
      width: 190px;
      height: 155px;

      &--w150 {
         width: 150px;
         height: 150px;
      }

      @media (max-width: 1200px) {
         width: 153px;
         height: 150px;
      }

      @media (max-width: 850px) {
         width: 113px;
         height: 92px;
      }

      @media (max-width: 330px) {
         margin: 9px auto;
         transform: translateX(0);
      }
   }

   .activity-card__title {
      margin-top: 49px;

      @media (max-width: 1200px) {
         margin-top: 46px;
      }

      @media (max-width: 850px) {
         margin-top: 23px;
         font-size: 22px;
         line-height: normal;
         letter-spacing: 0.44px;
      }

      @media (max-width: 350px) {
         margin-top: 21px;
      }
   }

   .activity-card__text {
      max-width: 404px;
      margin-top: 32px;
      font-size: 22px;
      line-height: 1.545;

      @media (max-width: 640px) {
         margin-bottom: 22.7px;
         padding: 17px 0;
         font-size: 18px;
         line-height: 1.55;
      }

      @media (max-width: 330px) {
         margin-top: 0;
         margin-bottom: 22.7px;
         font-size: 16px;
         line-height: 1.6;
      }

      @media (max-width: 850px) {
         max-width: unset;
         margin-top: 0;
         margin-bottom: 32px;
         font-size: 18px;
         line-height: 1.6;
      }

      @media (max-width: 1200px) {
         margin-top: 27px;
      }

      /*  @media (max-width: 850px) {
         max-width: unset;
         margin-top: 16px;
         margin-bottom: 40px;
         font-size: 16px;
         line-height: 1.6;
      } */
   }

   @media (max-width: 1200px) {
      padding: 57px 0 48px 83px;
   }

   @media (max-width: 850px) {
      padding: 0;
   }

   @media (max-width: 850px) {
      grid-column: 1 / -1;
   }

   @media (max-width: 1200px) {
      padding: 52px 0 48px;
   }
}
