.benefits {
   padding: 86px 0 80px;
}

.benefits__title {
   margin-bottom: 78px;
   padding-left: 50px;
}

.benefits__button-wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
}

.benefits__button {
   display: flex;
   flex-direction: row;
   column-gap: 12px;
   margin-top: 80px;
   padding-right: 43px;
   padding-left: 43px;
   cursor: pointer;
   font-size: 20px;
   font-weight: 500;
   line-height: 1.4;
}

.benefits__button--icon {
   width: 32px;
   height: 32px;
   stroke: var(--black);
}
