.btn {
   --font-size: 20px;

   border: 1px solid var(--black);
   border-radius: 40px;
   font-weight: 500;
   font-size: var(--font-size);
   line-height: 1.4;
   background: var(--White, #fff);
   transition: all 0.16s ease;

   &--p17 {
      padding: 17px 32px;

      @media (max-width: 980px) {
         font-size: 20px;
         line-height: 1.4;
      }

      @media (max-width: 640px) {
         font-size: 18px;
         line-height: 1.55;
      }

      @media (max-width: 330px) {
         /* padding: 14px 0 17px; */
      }
   }

   &--p25 {
      border-radius: 64px;
      padding: 25px 0;

      @media (max-width: 640px) {
         padding: 17px 30%;
      }
   }

   &--p25-send {
      border-radius: 40px;
      padding: 25px 0;

      @media (max-width: 330px) {
         padding: 26px 0;
      }
   }

   &--green {
      border: none;
      padding: 22px 41px;
      background: #71cf5b;
   }

   &--green-small {
      border: none;
      padding: 14px 41px;
      background: #71cf5b;

      @media (max-width: 1200px) {
         border-radius: 40px;
         padding: 22px 41px;
      }

      @media (max-width: 640px) {
         padding: 22px 0;
      }
   }

   &--blue {
      border: none;
      border-radius: 40px;
      padding: 24px 48px;
      background: #53aae3;
   }

   &--blue-small {
      border: none;
      padding: 14px 48px;
      background: #53aae3;

      @media (max-width: 1200px) {
         padding: 22px 48px;
      }

      @media (max-width: 640px) {
         padding: 22px 0;
      }
   }

   &--grey {
      border: none;
      padding: 27px 66px;
      background: var(--light-grey);
   }

   &--grey-small {
      border: none;
      padding: 17px 66px;
      background: var(--light-grey);

      @media (max-width: 1200px) {
         padding: 25px 66px;
      }

      @media (max-width: 640px) {
         padding: 26px 0;
      }
   }
}
