.contact-form {
   padding: 175px 0 55px;
}

.contact-form__container {
   position: relative;
}

.contact-form__title {
   padding: 80px;
   text-align: center;
}

.contact-form__stars-img {
   position: absolute;
   top: -6.3%;
   right: 10.7%;
   width: 82px;
   height: 80px;
}

.contact-form__disk-img {
   position: absolute;
   top: 23.3%;
   left: 1%;
   width: 174px;
   height: 226px;
}

.contact-form__wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
}

.application-form {
   display: flex;
   flex-direction: column;
   row-gap: 40px;
   max-width: 703px;
   padding: 40px 0;
   text-align: center;

   select {
      appearance: none;
      background: url("@img/select-arrow.png");
      background-position-x: 95%;
      background-position-y: 50%;
      background-repeat: no-repeat;
   }
}

.application-form__capture {
   border: 1px solid var(--mid-grey);
   border-radius: 40px;
   padding: 23px 32px;
   font-size: 22px;
   color: var(--mid-grey);
   background: var(--white);
}

.application-form__button {
   border-radius: 40px;
   padding: 25px 323px 27px 332px;
   font-weight: 500;
   color: var(--white);
   background: var(--black);
}
