.contacts {
   padding-bottom: 200px;
}
.contacts__container{
   display: flex;
   flex-direction: column;
   row-gap: 85px;
}
.contacts__bg-img {
   width: 2560px;
   height: 350px;
}

.contacts__title {
   margin-top: 120px;
   text-align: center;
}

.contacts__icon {
   width: 36px;
   height: 36px;

   &--mail {
      width: 30px;
      height: 30px;
   }
}

.buttons-block {
   display: flex;
   column-gap: 32px;
   align-items: center;
   justify-content: center;
}

.buttons-block__btn {
   color: var(--white);
   display: flex;
   column-gap: 12px;
   align-items: center;
   font-weight: 500;
   font-size: 22px;
   line-height: 1.27;
}
.contacts__descr {
   text-align: center;
   max-width: 813px;
   margin: 0 auto;
   font-size: 26px;
   line-height: 1.538;
}
