.contact-form {
   padding: 175px 0 80px;
}

.contact-form__container {
   position: relative;
}

.contact-form__title {
   padding: 80px;
   text-align: center;
}

.contact-form__stars-img {
   position: absolute;
   top: -25.3%;
   right: 26.9%;
   width: 82px;
   height: 80px;
}
.contact-form__disk-img {
   position: absolute;
   top: 89.3%;
   left: -15.9%;
   width: 174px;
   height: 226px;
}
