.experience {
   padding: 68px 0 80px;

   @media (max-width: 1200px) {
      padding-top: 47px;
   }
}

.experience__title {
   margin-bottom: 78px;
   padding-left: 50px;

   @media (max-width: 1200px) {
      margin-bottom: unset;
      padding: 55px 0 50px 32px;
   }
}

.experience__button-wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
}

.experience__button {
   display: flex;
   flex-direction: row;
   column-gap: 12px;
   margin-top: 135px;
   padding-right: 44px;
   padding-left: 44px;
   font-weight: 500;
   font-size: 20px;
   line-height: 1.4;
   cursor: pointer;

   @media (max-width: 1200px) {
      margin-top: 54px;
   }
}

.experience__button--icon {
   width: 32px;
   height: 32px;
   stroke: var(--black);
}
