.footer {
   padding: 100px;
   color: var(--white);
   background: var(--black);
}

.footer__container {
   position: relative;
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   column-gap: 24px;
   align-items: center;

   &::after {
      content: "";
      position: absolute;
      bottom: 37%;
      left: 0;
      width: 1720px;
      height: 1px;
      background-color: var(--light-grey);
   }
}

.footer__logo {
   grid-column: 3 span;
}

.footer__nav {
   justify-self: end;
   grid-column: 9 span;
   padding: 16px 0;
}

.footer__menu {
   display: flex;
   column-gap: 40px;
   align-items: center;
   font-size: 20px;
   line-height: 1.4;
}

.footer__copyright {
   align-self: start;
   grid-column: 2 span;
   margin-top: 74px;
   font-size: 20px;
   line-height: 1.4;
}

.footer__privacy {
   justify-self: end;
   grid-column: 11 /13;
   margin-top: 74px;
   font-size: 20px;
   line-height: 1.4;
}
