.header {
   padding: 40px 0 20px;
   background-color: var(--white);
}

:root {
   --font-size: 20px;
   --line-height: 28px;

   color: var(--black);
}

.header__container {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   column-gap: 24px;
   align-items: center;
}

.header__logo {
   grid-column: 3 span;
}

.logo__img {
   padding: 11px 16px;
}

.header__nav {
   justify-self: end;
   grid-column: 9 span;
   padding: 16px;
}

.header__menu {
   display: flex;
   column-gap: 40px;
   align-items: center;
}
