.hero {
   padding-top: 30px;
   padding-bottom: 100px;

   @media (max-width: 640px) {
      padding-top: unset;
   }
}

.hero__container {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   gap: 24px;

   @media (max-width: 1200px) {
      grid-template-columns: repeat(11, 1fr);
      gap: 0;
   }

   @media (max-width: 640px) {
      z-index: -5;
      grid-template-columns: repeat(12, 1fr);
      gap: 0;
   }
}

.hero__content {
   z-index: -2;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   grid-column: span 9;
   border-radius: 48px;
   padding: 56px 0 48px 56px;
   font-size: 20px;
   line-height: 1.4;
   background-image: url("@img/hero.png");
   background-position: 436px 95px;
   background-size: auto;
   background-repeat: no-repeat;
   background-color: #f6f6f6;

   @media (max-width: 1200px) {
      grid-column: span 8;
      margin-right: 26px;
      padding: 56px 0 30px 30px;
      background-position: 218px 204px;
      background-size: 76% 68.4%;
   }

   @media (max-width: 1024px) {
      /*
      z-index: 22;
      */
      grid-column: 1 / -1;
      margin-right: unset;
      border-radius: unset;
      padding: 33px 0 0;
      background-image: none;
   }

   @media (max-width: 330px) {
      z-index: 22;
      grid-column: 1 / -1;
      margin-right: unset;
      border-radius: unset;
      padding: 33px 0 0;
      background-image: none;
   }

   @media (max-width: 1635px) {
      background-position: 207px 173px;
      background-size: 76% 76.4%;
   }

   @media (max-width: 1410px) {
      background-position: 226px 312px;
      background-size: 72% 61%;
   }
}

.hero__title {
   max-width: 900px;

   @media (max-width: 1024px) {
      margin: 0 auto;
      font-size: 40px;
      line-height: 1.32;
      text-align: center;
   }

   @media (max-width: 640px) {
      font-size: 37px;
      line-height: 1.32;
      text-align: center;
   }

   @media (max-width: 330px) {
      max-width: 230px;
      margin: 0 auto;
      font-size: 34px;
      line-height: normal;
   }
}

.hero__text {
   flex-grow: 1;
   max-width: 360px;
   margin-top: 34px;
   line-height: 1.6;

   @media (max-width: 1200px) {
      margin-top: 30px;
   }

   @media (max-width: 1024px) {
      max-width: 300px;
      margin: 21px auto 0;
      font-size: 18px;
      text-align: center;
   }

   @media (max-width: 330px) {
      max-width: 260px;
      margin: 21px auto 0;
      font-size: 16px;
      text-align: center;
   }
}

.hero__button {
   margin-top: 34px;
   padding-right: 57px;
   padding-left: 57px;

   @media (max-width: 1200px) {
      margin-top: 20px;
   }

   @media (max-width: 1024px) {
      max-width: 300px;
      margin: 30px auto 0;
      padding: 17px 96px;
      font-size: 18px;
      line-height: 1.55;
      text-align: center;
   }
}

.hero__img {
   display: none;

   img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }

   @media (max-width: 1024px) {
      display: flex;
      width: 309px;
      height: 300px;
      margin: 34px auto 0;
   }

   @media (max-width: 330px) {
      width: 309px;
      height: 300px;
      transform: translate(10%, 0%);
   }
}

.hero__right-column {
   justify-self: center;
   grid-column: span 3;

   @media (max-width: 1200px) {
      justify-self: unset;
      grid-column: span 3;
      margin-left: -5px;
   }

   @media (max-width: 1024px) {
      display: flex;
      flex-direction: column;
      grid-column: 3 / 10;
      margin-left: 0;
      padding-top: 24px;
   }

   @media (max-width: 640px) {
      display: flex;
      flex-direction: column;
      grid-column: 1 / -1;
      margin-left: 0;
      padding-top: unset;
   }

   @media (max-width: 330px) {
      margin-top: 30px;
   }
}

.hero__trusted-block {
   position: relative;
   display: flex;
   column-gap: 16px;
   align-items: center;
   justify-content: center;
   border: 1px solid rgb(0 0 0);
   border-radius: 0 83px 0 0;
   padding: 19px 54px;
   background-color: #ebf3ff;

   &::before {
      content: "";
      position: absolute;
      top: 0;
      right: -2px;
      width: 32px;
      height: 32px;
      border-radius: 100%;
      background-image: url("@img/arrow-hero.png");
      background-position: center;
      background-size: 8.5px 8.5px;
      background-repeat: no-repeat;
      background-color: var(--black);
   }

   @media (max-width: 640px) {
      order: 2;
   }

   @media (max-width: 330px) {
      order: unset;
   }

   @media (max-width: 1200px) {
      padding: 34.5px 23px;
   }

   @media (max-width: 640px) {
      padding: 27.2px 23px;
   }
}

.hero__trusted-block--icon {
   flex-grow: 0;
   flex-shrink: 0;
   width: 160px;
   height: 136px;

   @media (max-width: 1200px) {
      width: 116px;
      height: 95px;
   }

   @media (max-width: 640px) {
      width: 107px;
      height: 87px;
   }
}

.hero__trusted-block--descr {
   font-family: var(--second-family);
   font-weight: 600;
   font-size: 22px;
   line-height: 1.182;
   letter-spacing: 0.44px;
   color: var(--black, #000);

   @media (max-width: 640px) {
      max-width: 128px;
   }
}

.hero__trusted-block--clients {
   position: relative;
   padding: 58.5px 54px 59px 76px;
   background-color: var(--white);

   &::before {
      content: "";
      position: absolute;
      top: 0;
      right: -2px;
      width: 32px;
      height: 32px;
      border-radius: 100%;
      background-image: url("@img/flag-hero.png");
      background-position: center;
      background-size: 8.5px 12px;
      background-repeat: no-repeat;
      background-color: var(--black);
   }

   @media (max-width: 1200px) {
      padding: 50px 48px 46px 30px;
   }

   @media (max-width: 640px) {
      order: 3;
      padding: 36.2px 0 40px 31.2px;
   }
}

.hero__trusted-block--header {
   font-weight: 500;
   font-size: 48px;
   line-height: 1.33;
   color: var(--black);

   @media (max-width: 640px) {
      font-size: 45px;
      line-height: 1.4;
   }
}

.hero__contact-block {
   display: flex;
   flex-direction: column;
   gap: 67px;
   align-items: flex-start;
   margin-top: 19px;
   border-radius: 48px 48px 48px 0;
   padding: 56px 48px 47px;
   background: #465976;

   @media (max-width: 1200px) {
      gap: 84px;
      margin-top: 24px;
      margin-bottom: unset;
      padding: 30px 0 30px 29px;
   }

   @media (max-width: 640px) {
      flex-direction: row;
      gap: 12px;
      align-items: center;
      justify-content: space-between;
      order: 1;
      margin-bottom: 24px;
      border-radius: 28px;
      padding: 30px;
      line-height: 1.3;
   }

   @media (max-width: 330px) {
      flex-direction: column;
      gap: 30px;
      padding: 30px 55px 30px 30px;
   }
}

.hero__contact-block--header {
   font-family: var(--second-family);
   font-size: 44px;
   line-height: 1.272;
   color: var(--white);

   @media (max-width: 1200px) {
      font-size: 33px;
      line-height: 1.3;
   }

   @media (max-width: 640px) {
      max-width: 168px;
      font-size: 30px;
      line-height: unset;
   }

   @media (max-width: 330px) {
      max-width: unset;
   }
}

.hero__contact-block--button {
   display: flex;
   column-gap: 12px;
   align-items: center;

   @media (max-width: 1200px) {
      padding: 13px 33px 12px 30px;
   }

   @media (max-width: 640px) {
      margin-bottom: 11.5px;
      padding: 14px 37px;
   }

   @media (max-width: 330px) {
      margin-bottom: unset;
      padding: 14px 36px;
   }
}

.hero__contact-block--icon {
   width: 36px;
   height: 36px;
}
