.mission {
   position: relative;
   padding-top: 312px;
   padding-bottom: 251px;

   @media (max-width: 1200px) {
      padding-top: 158px;
   }

   @media (max-width: 640px) {
      padding-top: 0;
   }
}

.mission__container {
   position: relative;
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   column-gap: 24px;
   align-items: center;
   justify-content: center;
   justify-self: center;
   text-align: center;
}

.mission__wrapper {
   grid-column: 3 / 11;

   p {
      margin-top: 40px;
      padding: 0 56px;
      font-size: 26px;
      line-height: 1.538;
      text-align: center;
      color: var(--black, #000);

      @media (max-width: 640px) {
         margin-top: 30px;
         padding: 0 27px;
         font-size: 20px;
         line-height: 1.6;
      }

      @media (max-width: 330px) {
         padding: 0;
         font-size: 18px;
      }
   }

   @media (max-width: 1200px) {
      grid-column: 1 / -1;
   }
}

.mission__title {
   margin-bottom: 72px;

   @media (max-width: 640px) {
      margin-bottom: 0;
   }

   @media (max-width: 330px) {
      margin-top: 30px;
   }
}

.mission__button {
   margin-top: 72px;
   padding: 17px 43px;

   @media (max-width: 640px) {
      display: flex;
      justify-content: center;
      margin-top: 42px;
   }

   @media (max-width: 330px) {
      margin-top: 38px;
   }
}

.mission__doc-img {
   position: absolute;
   width: 382px;
   height: 574px;
   inset: 0;

   @media (max-width: 1200px) {
      top: 40px;
      left: 0;
      width: 256.522px;
      height: 319.107px;
   }

   @media (max-width: 950px) {
      display: none;
   }
}

.mission__doc_line-img {
   position: absolute;
   top: 55%;
   right: -7.88%;
   width: 955px;
   height: 450px;

   @media (max-width: 1200px) {
      top: 58%;
      right: -10.7%;
      width: 691px;
      height: 327px;
   }

   @media (max-width: 1100px) {
      top: 58%;
      right: -10.7%;
      width: 591px;
      height: 287px;
   }

   @media (max-width: 950px) {
      top: 65.5%;
      right: 2.3%;
      width: 471px;
      height: 260px;
   }

   @media (max-width: 330px) {
      top: 70.5%;
      left: 8.7%;
      width: 356px;
      height: 168px;
   }
}

.mission__stars-img {
   position: absolute;
   top: -30%;
   right: 3.3%;
   width: 82px;
   height: 80px;

   @media (max-width: 1200px) {
      top: -19%;
      right: 2.4%;
   }

   @media (max-width: 640px) {
      top: -5%;
      right: 4.7%;
      width: 58px;
      height: 58px;
   }

   @media (max-width: 330px) {
      top: -9%;
      left: 13.7%;
      width: 45px;
      height: 45px;
   }
}

.mission__line-img {
   position: absolute;
   bottom: 14%;
   left: -31.8%;
   width: 795px;
   height: 223px;
   transform: rotate(-173.432deg);

   @media (max-width: 1200px) {
      top: 58%;
      right: -10.7%;
      width: 658px;
      height: 327px;
   }

   @media (max-width: 950px) {
      display: none;
   }
}
