.principles {
   padding: 252px 0 80px;

   @media (max-width: 1200px) {
      padding: 236px 0 80px;
   }

   @media (max-width: 980px) {
      padding: 0 0 80px;
   }
}

.principles__container {
   position: relative;
   display: grid;
   grid-auto-rows: 441px;
   grid-template-columns: repeat(12, 1fr);
   grid-template-rows: repeat(auto-fill, minmax(441px, 1fr));

   @media (max-width: 1200px) {
      grid-auto-rows: 410px;
      grid-template-rows: repeat(auto-fill, minmax(410px, 1fr));
   }

   @media (max-width: 980px) {
      grid-auto-rows: 222px;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(auto-fill, minmax(98px, 1fr));
   }

   @media (max-width: 510px) {
      grid-auto-rows: 309px;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(auto-fill, minmax(82px, 1fr));
   }
}

.principles__img {
   position: absolute;
   top: -13.6%;
   left: 3.5%;
   width: 116px;
   height: 106px;

   @media (max-width: 1200px) {
      top: -14%;
      left: 5.5%;
   }

   @media (max-width: 980px) {
      display: none;
   }
}

.principles__title {
   grid-column: span 4;
   max-width: 320px;
   margin-top: 49px;
   padding-left: 48px;
   text-align: left;

   @media (max-width: 1200px) {
      margin-top: 49px;
      padding-left: 30px;
   }

   @media (max-width: 980px) {
      margin-top: 15px;
      padding-left: 0;
      line-height: normal;
   }

   @media (max-width: 510px) {
      margin-top: 0;
   }
}

.principles__card {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   align-self: stretch;
   justify-content: space-between;
   grid-column: 4 span;
   border: 2px solid var(--black);
   border-radius: 48px;
   padding: 64px 56px 43px;
   background: #ebf3ff;

   &--light {
      background: #f6f6f6;
   }

   @media (max-width: 1200px) {
      padding: 40px;
   }
   @media (max-width: 640px) {
      padding: 28px;
   }

   @media (max-width: 980px) {
      border-radius: 28px;
   }

   @media (max-width: 510px) {
      padding: 30px 0 30px 30px;
   }
}

.principles__card--text {
   font-size: 26px;
   line-height: 1.534;

   @media (max-width: 980px) {
      font-size: 22px;
      line-height: normal;
      letter-spacing: 0.44px;
   }
}

.principles__button {
   /*
   border: 2px solid var(--black);
   */
   border: none;
   border-radius: 48px;
   padding: 14px 29px;
   background-color: var(--white);

   @media (max-width: 980px) {
      padding: 3px 13px;
   }
}

.principles__button--img {
   width: 48px;
   height: 48px;
}
