.services {
   padding: 49px 0 40px;

   @media (max-width: 1200px) {
      padding: 46px 0 40px;
   }
}

.services__container {

}

.services__title {
   padding: 80px 0;
   padding-left: 48px;

   @media (max-width: 1200px) {
      padding-left: 30px;
   }
}

.services__card-title {
   margin-bottom: 40px;
}

.services__card {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   column-gap: 24px;
   padding: 80px 0;

   @media (max-width: 1200px) {
      grid-template-columns: repeat(11, 1fr);
      padding: 17px 0;
   }
}

.services__card-img {
   grid-column: 5 span;
   width: 703px;
   height: 532px;

   .svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
   }

   @media (max-width: 1200px) {
      height: 566px;
      width: 544px;
   }
}

.services__card-descr {
   grid-column: 6 span;
   padding: 0 112px;

   @media (max-width: 1200px) {
      grid-column: 5 span;
      padding: 0 0 0 65px;
   }
}

.services__card-list {
   display: flex;
   flex-direction: column;
   row-gap: 24px;
   padding-left: 12px;
}

.services__card-list--item::before {
   content: "";
   display: inline-block;
   vertical-align: middle;
   width: 8px;
   height: 8px;
   margin-right: 15px;
   border-radius: 50%;
   background-color: var(--black);
}

.services__card-list--item {
   font-size: 22px;
   line-height: 1.545;
}

.services__card-button--wrapper {
   display: flex;
   align-items: flex-start;
   justify-content: start;
   padding-left: 15px;
}

.services__card-button {
   display: flex;
   flex-direction: row;
   column-gap: 12px;
   margin-top: 47px;
   padding: 17px 29px;
   cursor: pointer;
}

.services__button--icon {
   width: 32px;
   height: 32px;
   stroke: var(--black);
}
