.services {
   padding: 49px 0 40px;

   @media (max-width: 1200px) {
      padding: 46px 0 40px;
   }

   @media (max-width: 850px) {
      padding: 46px 0 58px;
   }

   @media (max-width: 330px) {
      padding: 46px 0 10px;
   }
}

.services__title {
   padding: 80px 0;
   padding-left: 48px;

   @media (max-width: 1200px) {
      padding-left: 30px;
   }

   @media (max-width: 640px) {
      padding: 40px 0;
      font-size: 37px;
   }

   @media (max-width: 330px) {
      padding: 32px 0 17px;
      font-size: 34px;
   }
}

.services__card-title {
   margin-bottom: 40px;

   @media (max-width: 640px) {
      margin-bottom: 23px;
      font-size: 22px;
   }

   @media (max-width: 330px) {
      margin-bottom: 23px;
      font-size: 22px;
   }
}

.services__card {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   column-gap: 24px;
   padding: 80px 0;

   @media (max-width: 1200px) {
      grid-template-columns: repeat(11, 1fr);
      padding: 17px 0;
   }

   @media (max-width: 640px) {
      column-gap: 0;
      padding: 0 0 53px;
   }
}

.services__container .services__card:nth-of-type(2) {
   padding: 80px 0 69px;

   .services__card-descr {
      grid-column: 6 span;
      padding-left: 112px;

      @media (max-width: 640px) {
         padding-left: 0;
      }

      @media (max-width: 330px) {
         grid-column: 1 / -1;
         grid-row: 2;
      }
   }

   .services__card-button--wrapper {
      padding-left: 0;
   }

   .services__card-button {
      margin-top: 39px;
   }

   @media (max-width: 1200px) {
      grid-template-columns: repeat(11, 1fr);
      padding: 75px 0 0;
   }

   @media (max-width: 640px) {
      padding: 0 0 53px;
   }
}

.services__card-img {
   grid-column: 5 span;
   width: 703px;
   height: 532px;

   .svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
   }

   @media (max-width: 1200px) {
      width: 544px;
      height: 566px;
   }

   @media (max-width: 640px) {
      width: 262px;
      height: 262px;
   }

   @media (max-width: 330px) {
      grid-column: 1/-1;
      grid-row: 1;
      width: 300px;
      height: 272px;
   }
}

.services__card-descr {
   grid-column: 6 span;
   padding: 0 100px 0 112px;

   @media (max-width: 1200px) {
      grid-column: 6 span;
      padding: 0 0 0 23px;
   }

   @media (max-width: 640px) {
      padding: 0 0 0 20px;
   }

   @media (max-width: 330px) {
      grid-column: 1 / -1;
      padding: 6px 0 0;
   }
}

.services__card-list {
   display: flex;
   flex-direction: column;
   row-gap: 24px;
   padding-left: 12px;

   @media (max-width: 640px) {
      row-gap: 20px;
      padding-right: 6px;
      padding-left: 7px;
   }
}

.services__card-list--item::before {
   content: "";
   display: inline-block;
   vertical-align: middle;
   width: 8px;
   height: 8px;
   margin-top: 13px;
   margin-right: 15px;
   border-radius: 50%;
   background-color: var(--black);

   @media (max-width: 1200px) {
      width: 6px;
      height: 6px;
      margin-top: 15px;
      margin-right: 3px;
   }

   @media (max-width: 640px) {
      width: 6px;
      height: 6px;
      margin-top: 9px;
      margin-right: 3px;
   }
}

.services__card-list--item {
   display: flex;
   font-size: 22px;
   line-height: 1.545;

   @media (max-width: 1200px) {
      gap: 13px;
   }

   @media (max-width: 640px) {
      gap: 8px;
      font-size: 16px;
      line-height: 1.4;
   }

   @media (max-width: 330px) {
      letter-spacing: -0.1px;
   }
}

.services__card-button--wrapper {
   display: flex;
   align-items: flex-start;
   justify-content: start;
   padding-left: 15px;

   @media (max-width: 640px) {
      display: none;
   }
}

.services__card-button {
   display: flex;
   flex-direction: row;
   column-gap: 12px;
   margin-top: 47px;
   padding: 17px 29px;
   cursor: pointer;

   @media (max-width: 640px) {
      padding: 17px 0;
   }
}

.services__button--icon {
   width: 32px;
   height: 32px;
   stroke: var(--black);
}

.services__card-button--big-wrapper {
   display: none;

   @media (max-width: 640px) {
      display: grid;
      grid-column: 1/-1;
   }
}

.services__card-button--big {
   display: flex;
   gap: 12px;
   align-items: center;
   justify-content: center;
   margin-top: 34px;
   padding: 17px 0;
   text-align: center;

   @media (max-width: 510px) {
      margin-top: 30px;
   }
}
