.consulting-hero {
   padding: 201px 0 80px;

   @media (max-width: 1400px) {
      padding: 70px 0 159px;
   }

   @media (max-width: 980px) {
      padding: 47px 0 152px;
   }

   @media (max-width: 580px) {
      padding: 9px 0 101px;
   }
}

.consulting-hero__container {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   column-gap: 24px;

   @media (max-width: 980px) {
      grid-template-columns: 1fr;
      column-gap: 0;
      text-align: center;
   }

   @media (max-width: 580px) {
      row-gap: 0;
   }
}

.consulting-hero__content {
   display: flex;
   flex-direction: column;
   row-gap: 56px;
   align-items: start;
   grid-column: 6 span;
   padding: 40px 56px;

   @media (max-width: 1400px) {
      row-gap: 40px;
      grid-column: 7 span;
      padding: 40px 30px;
   }

   @media (max-width: 980px) {
      align-items: unset;
      padding: 0;
      font-size: 20px;
   }

   @media (max-width: 580px) {
      row-gap: 30px;
   }
}

.consulting-hero__title {
   @media (max-width: 1400px) {
      font-size: 50px;
      line-height: 1.1;
   }
}

.consulting-hero__text {
   display: flex;
   flex-direction: column;
   row-gap: 34px;
   padding-right: 15px;

   @media (max-width: 1400px) {
      padding-right: 75px;
   }

   @media (max-width: 980px) {
      padding: 0;
      font-size: 20px;
      line-height: 1.6;
      letter-spacing: 0.4px;
   }

   @media (max-width: 580px) {
      row-gap: 28px;
      font-size: 16px;
      line-height: 1.6;
      letter-spacing: 0.32px;
   }
}

.consulting-hero__button {
   display: flex;
   flex-direction: row;
   column-gap: 12px;
   margin-top: 0;
   padding: 17px 24px 14px 31px;
   font-weight: 500;
   font-size: 20px;
   line-height: 1.4;
   cursor: pointer;

   @media (max-width: 980px) {
      justify-content: center;
      max-width: unset;
      margin-top: 0;
      font-size: 20px;
      line-height: 1.4;
      text-align: center;
   }

   @media (max-width: 580px) {
      margin-top: 11px;
      padding: 17px 24px 13.6px 31px;
      font-size: 18px;
      line-height: 1.55;
      text-align: unset;
   }
}

.consulting-hero__button--icon {
   width: 32px;
   height: 32px;
   stroke: var(--black);
}

.consulting-hero__img-wrapper {
   position: relative;
   justify-self: center;
   grid-column: 6 span;
   margin-top: 73px;
   margin-right: 10px;

   @media (max-width: 1400px) {
      justify-content: flex-start;
      grid-column: 5 span;
      margin-top: 140.8px;
      margin-left: -73.5px;
   }

   @media (max-width: 980px) {
      grid-column: 12 span;
      order: 1;
      margin-top: 108px;
      margin-left: 2.9px;
      border-radius: 28px 42px 28px 0;
   }

   @media (max-width: 580px) {
      margin-top: 81px;
      margin-right: 6.1px;
   }
}

.consulting-hero__img {
   z-index: 10;
   border-radius: 48px 0 48px 72px;
   object-fit: cover;

   @media (max-width: 1400px) {
      width: 434px;
      height: 307px;

   }

   @media (max-width: 980px) {
      width: 426.398px;
      height: 301.974px;

      /*  margin-top: 108px;
      margin-left: 2.9px; */
      border-radius: 28px 42px 28px 0;
   }

   @media (max-width: 580px) {
      width: 248.639px;
      height: 176.085px;

      /*  margin-top: 81px;
      margin-right: 6.1px; */
   }
}

.consulting-hero__paper-img {
   position: absolute;
   top: 7.6%;
   right: 36.2%;
   z-index: 15;
   width: 234.864px;
   height: 250.233px;

   @media (max-width: 1400px) {
      top: 8.7%;
      right: 36%;
      width: 119.425px;
      height: 133.496px;
   }

   @media (max-width: 980px) {
      top: 18.5%;
      left: 4.3%;
      z-index: 15;
      width: 135.754px;
      height: 151.418px;
   }

   @media (max-width: 580px) {
      top: 17.1%;
      left: 4.4%;
      z-index: 15;
      width: 75.142px;
      height: 83.812px;
   }
}

.consulting-hero__tax-img {
   position: absolute;
   top: 7.3%;
   right: 8.1%;
   z-index: -1;
   width: 210.327px;
   height: 269.901px;

   @media (max-width: 1400px) {
      top: 7.9%;
      right: 4.2%;
      width: 129.47px;
      height: 166.567px;
   }

   @media (max-width: 980px) {
      top: 17.8%;
      right: 4.7%;
      width: 147.286px;
      height: 188.998px;
   }

   @media (max-width: 580px) {
      top: 16.7%;
      right: 4.5%;
      width: 81.523px;
      height: 104.613px;
   }
}

.consulting-hero__case-img {
   position: absolute;
   top: 18.5%;
   right: 9%;
   z-index: 15;
   width: 257px;
   height: 191.999px;

   @media (max-width: 1400px) {
      top: 17.6%;
      right: 5%;
      width: 158.201px;
      height: 118.491px;
   }

   @media (max-width: 980px) {
      top: 27.2%;
      right: 10%;
      z-index: 15;
      width: 179.967px;
      height: 134.448px;
   }

   @media (max-width: 580px) {
      top: 22.3%;
      right: 6.4%;
      z-index: 15;
      width: 99.614px;
      height: 74.419px;
   }
}
