.title {
   --font-size: 40px;
   --line-height: 1.4;

   font-family: var(--second-family);
   font-weight: 600;
   font-size: var(--font-size);
   line-height: var(--line-height);
   letter-spacing: 0.8px;

   &--fz120 {
      --font-size: 120px;
      --line-height: 1.083;

      font-weight: 500;
      letter-spacing: normal;

      @media (max-width: 1200px) {
         --font-size: 80px;
         --line-height: 1.4;
      }
   }

   &--fz72 {
      --font-size: 72px;
      --line-height: 1.111;

      font-weight: 500;
      letter-spacing: normal;
   }

   &--fz50 {
      --font-size: 50px;
      --line-height: 64px;

      font-weight: 500;
      letter-spacing: normal;
   }
}
