.header {
   padding: 51px 16px 31px;
   background-color: var(--white);
}

:root {
   --font-size: 20px;
   --line-height: 28px;

   color: var(--black);
}

.header__container {
   display: flex;
   align-items: center;
}

.logo {
   margin-right: 594px;
}

ul {
   display: flex;
   column-gap: 40px;
   align-items: center;
   justify-content: start;
}
