:root {
   // global
   --container-max-width: 1720px;
   --container-safety-indents: 15px;

   // fonts
   --font-family: "Mulish", sans-serif;
   --font-size: 22px;
   --line-height: 1.545;
   --second-family: "EB Garamond", sans-serif;

   // Color

   --black: #000;
   --grey: #56606b;
   --light-grey: #a0a8b5;
   --light: #ebebeb;
   --white: #fff;
}
